body{
   /* background-color: #e0e0e0;*/
    padding: 0;
    margin: 0;    
}

header {
    background-color: #eeeeee;   
    min-height: 100px;
}

h1{
    background-color: #eeeeee;   
    margin: 0;
}

nav {
    min-height: 200px;
    background-color: black;
    /*color: white;*/
}

section, .section {
    max-width: 1024px;
    border: solid 1px black;
    min-height: 150px;
    margin: 20px auto;
}




ul li {
    border-bottom: solid 2px red;
}

ul li.green{
    background-color: green;;
}

ul ol {
    border-bottom: solid 2px rgb(65, 0, 168);
}

ul ol:first-child {
    border-bottom: solid 2px rgb(65, 0, 168);
    background: black;
    color: white;
}


.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.section figure{
    display: block;
    padding: 0;
    margin: 0;
}
.section figure figcaption{
    background-color: black;
    color: #fff;
    height: 40px;
}

.section figure img {
    width: 100%;
}

.flexContainer{
display: flex;
flex-wrap:wrap;
gap: 5px;
justify-content: space-between;    
}

.flexContainer figure {
    display: block;    
    width: unset !important;   
    
}

.flexContainer figure img {   
    width: unset !important;
    max-height: 200px;
}
